- if object.errors.any?
  .alert-message.error
    %p
      = "#{pluralize(object.errors.count, "error")} prohibited this #{ object.class.to_s.underscore.humanize.downcase } from being saved:"
      - object.errors.full_messages.each do |error|
        %br
        = error

