= form_for @lead, :url => lead_path(@lead), :html => { :class => "edit_lead", :id => "edit_lead" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
